/*  dropdowninput*/
.dropbar .btn:not(:disabled):not(.disabled){
    width:100%;
    height:50px;
    margin-top: 10px;
    font-size : 2em;
}
.dropdown-toggle{
    white-space: pre-wrap;
}
.dropdown_data.dropdown-menu.show{
    width:100%;
}
.dropbar{
    display: inline-block;
    vertical-align: middle;
}
.searchbtn{
    margin-left: 20px;
}
.dropbar{
    width: calc(100% - 50px);
}
.search_mag{
    width:50px;
    height:50px;
    margin-top: 15px;
    display: inline-block;
    vertical-align: top;
}
#dropdown_data{
    width:100%;
}