
/* header */

.mr-auto, .dropdown-toggle, .nav-link, .collapse,#basic-navbar-nav{

    justify-content: right;
    float: right;
    margin-right: 10px;
}

.logo{
    width:40px;
    height:40px;
}

.dropdown-menu .show{
    text-align:left;
}