/* slide */
.slider_container .df{
    display: none;
}
.slide-item .slide_content{
    height: 500px;
    border: 1px solid black;
}
.slide-item .slick-dots{
    margin-bottom: 40px;
}
.slick-prev{
    margin-left: 30px;
    z-index: 10;
}
.slick-next{
margin-right: 30px;
}

.products_container{
    border:5px solid red;
}
/* dropdown */
.dropbar .container .item{
    flex-grow:1;
}