/* foundation css */

.foundation_article_name{
    background-color: #bed560 ;
    color: black;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    height: 90px;
    line-height: 3em;
}
.ceo_article_name{
    background-color: #bed560 ;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    height: 90px;
    line-height: 3em;
}

.ceo1_png{
    width: 95%;
}

.ceo2_png{
    width: 95%;
}