@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@import "./layout.css";
@import "./main.css";
@import "./productsList.css";
@import "./dropbox.css";
<<<<<<< HEAD
@import "./qna.css";
=======
@import "./notice.css";
>>>>>>> 2db2811ba640b2c362ec50a833daee6d28ed0c8c

*{
    margin:0;
    padding:0;
    font-family: 'Nanum Gothic', sans-serif;
}
html{
    font-family: 'Nanum Gothic', sans-serif;
}
ul,li{
    list-style:none;
}
