@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@import "./layout.css";
@import "./main.css";
@import "./productsList.css";
@import "./dropbox.css";
@import "./Recommend.css";
@import "./notice.css";
@import "./chatbot.css";
@import "./qna.css";
@import "./foundation.css";
@import "./process.css";
@import "./modal.css";

*{
    margin:0;
    padding:0;
    font-family: 'Nanum Gothic', sans-serif;
}
html{
    font-family: 'Nanum Gothic', sans-serif;
}
ul,li{
    list-style:none;
}
