.section{
    width: calc(100% - 110px);
    display: inline-block;
    height:110px;
}
table{
    text-align: center;
    margin-bottom:50px;
}

.t_num{
    border-right:black;
}
.section table{
    color: black;
    text-align: center;
    width:100%;
    border-collapse: collapse;
}

.section td, th { 
    border-bottom: 1px solid black;
    padding:10px;
}
.section tbody td a{color:black;}
.section th{background-color: transparent;}
.t_num{width:50px;}

.section thead{
    background-color: #bed560;
    font-size:1.5rem;
}

.aside{
    text-align: center;
    background-color:#bed560 ;
    width:100px;
    margin-right:10px;
    padding:10px;
    padding-top:20px;
    position:sticky;
    display: inline-block;
    
}
.aside ul li h4{
    font-weight:bold;
    padding-bottom:10px;
}

.aside ul li a{
    color:black;
}

#root > div > div.container > div:nth-child(2) > div > div > section > table > tbody > tr:nth-child(8) > td{
    display:none;
}
#root > div > div.container > div:nth-child(2) > div > div > section > table > tbody > tr:nth-child(8) > th{
    display:none;
}
#root > div > div.container > div:nth-child(2) > div > div > section > table{
    border:"0"
}