/* 상품 조회 리스트 */
.products_container {     /*div class name을 products_container로 설정했음, ProductsComponent폴더의 index.js에서*/
     border: 1px solid red;
     text-align:center;
} 

.products_table {
    border: 1px solid black;
    text-align: center;
    list-style-type: none;
    float: left;
    margin-top: 30px;
}
