.qna_button{
    float:right;
    z-index:1;
    margin-top:-60px;
    margin-right: 30px;
}

.qna_name{
    background-color: orange;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    height: 90px;
    line-height: 3em;
}
.qna_img{
    height:80%;
    margin-top:30px;
    margin-left:150px;
}

button.btn.btn-secondary{
    font-size:1.5em;
    padding:10px;
    background:black;
    border: black;
    border-radius: 10px;
    margin-top: -8px;
}

/* .qna_button Link{
    color:white;
} */

.qnaform section{
    text-align:center;
}
.qnaform footer{
    margin-top:30px;
    text-align:center;
}
.qnaform h4{
    font-weight: bold;
}


