/* .RecommendComponent_container{
  overflow: hidden;
} */
.RecommendComponent_container .top{
  overflow: hidden;
}
.RecommendComponent_container table{
  width:100%;
  padding:50px;
}

.RecommendComponent_container .recommendtable td{
  border-bottom:1px solid black;
  padding:10px;
}
.input-group-dropdown-2{
  width:100%;
}

.input-group span{
  margin-left: 20px;
  margin-right: 20px;
  font-size:2em;
}

.RecommendComponent_container td {
  border:none;
}

.RecommendComponent_container{
  font-size: 1em;
  background-color: #F4F4F4F4;
}

#input-group-dropdown-2{
  width:350px;
}

.dropdown-menu.show{
  width:350px;
  text-align:center;
}

select { 
  width: 200px; /* 원하는 너비설정 */ 
  padding: .8em .5em; /* 여백으로 높이 설정 */ 
  font-family: inherit; /* 폰트 상속 */ 
  background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%; /* 네이티브 화살표 대체 */ 
  border: 1px solid #999; 
  border-radius: 6px; /* iOS 둥근모서리 제거 */ 
  -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
  -moz-appearance: none; 
  appearance: none; 
}